.progress {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1.4rem;
  background-color: #feffff;
  border-radius: 12px;
  padding: 1rem;
}
.progress p {
  color: #545d6a;
  font-size: 1.8rem;
}
.progressLine {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2rem;
  /* width: 50%; */
}
.progressLine p {
  text-align: center;
  color: #04c582;
  font-size: 2rem;
  margin-bottom: 2rem;
}
