.todayList ul {
  list-style: none;
}
.todayList li {
  list-style: none;
  border-bottom: 1px solid #545d6a2e;
  margin-bottom: 1rem;
  margin-left: 0.2rem;
  padding-bottom: 0.3rem;
}
.title {
  height: 30px;
  margin: 16px 0;

  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1720px) {
  .todayList {
    display: none;
  }
}
